.container{
	background-color:gray;
}
.login{
	padding: 10px;
	display:inline-block;
	color:white;
}
.date{
	padding:10px;
	font-size:10px;
}
.test{
	padding-top: 50px;
	padding-bottom: 50px;
}
* {
    margin: 0;
    padding: 0;
}